---
import { getEntry } from "astro:content";
import { GlobeIcon } from "~/assets/ui";
import Description from "~/components/ui/Description.astro";
import Card from "./Card.astro";
import PostDateInfo from "~/components/posts/PostDateInfo.astro";
import TagList from "../posts/TagList.astro";

const templateEntry = await getEntry("blog", "template");
if (!templateEntry) {
  throw new Error("Blog template entry 'template' not found");
}

type Props = typeof templateEntry.data;

const { category, lang, title, description, tags, date, lastModified } =
  Astro.props;
---

<Card class="hover:bg-gray-100">
  <div class="mb-4 flex items-center gap-4">
    <span class="rounded-full bg-gray-200 px-3 py-1 text-sm">
      {category}
    </span>
    <span class="flex items-center gap-1 text-sm">
      <GlobeIcon size={16} />
      {lang === "en" ? "English" : "한국어"}
    </span>
  </div>
  <h2 class="mb-2 text-2xl font-semibold text-balance">
    {title}
  </h2>
  <Description class="mb-3 text-pretty">{description}</Description>
  <PostDateInfo date={date} lang={lang} lastModified={lastModified} />
  <TagList tags={tags} />
</Card>
