---
import BaseLayout from "~/layouts/BaseLayout.astro";
import { socialLinks } from "~/data/social";
import { metadata } from "~/data/site";
import Title from "~/components/ui/Title.astro";
import Link from "~/components/ui/Link.astro";
import Description from "~/components/ui/Description.astro";
---

<BaseLayout description={metadata.description} title={metadata.title}>
  <Title>Junseong Park</Title>
  <Description class="mb-6">
    Frontend Developer building and shipping great products while growing in
    tech.
  </Description>
  <ul class="flex flex-wrap gap-x-8 gap-y-3">
    {
      socialLinks.map(({ name, url, icon: Icon }) => (
        <li>
          <Link
            class="flex items-center gap-1 hover:text-gray-800 hover:underline lg:text-lg"
            href={url}
            target="_blank"
            title={name}
          >
            <Icon size={20} />
            {name}
          </Link>
        </li>
      ))
    }
  </ul>
</BaseLayout>
