---
import Layout from "~/layouts/Layout.astro";
import { projects } from "~/data/projects";
import { format } from "~/utils/date";
import { posts } from "~/data/posts";
import Link from "~/components/Link.astro";
import { Github } from "~/assets/social";
import { ExternalLink } from "lucide-preact";

const meta = {
  title: "Junseong Park",
  description:
    "Hello! I'm Junseong Park, a Frontend Developer passionate about UI/UX. This is where I share my thoughts, projects, and experiences.",
};

const recentPosts = posts.slice(0, 3);
---

<Layout {...meta}>
  <div class="space-y-12">
    <section>
      <h2 class="mb-4 text-2xl font-bold">Welcome to My Personal Website</h2>
      <p class="text-gray-600">
        {meta.description}
      </p>
    </section>

    <section>
      <h2 class="mb-4 text-2xl font-bold">Recent Posts</h2>
      <ul class="space-y-4">
        {
          recentPosts.map((post) => (
            <li class="border-b pb-2">
              <Link
                class="text-blue-600 hover:underline"
                href={`/blog/${post.id}`}
              >
                {post.data.title}
              </Link>
              <p class="text-sm text-gray-500">{format(post.data.date)}</p>
            </li>
          ))
        }
      </ul>
      <div class="mt-4">
        <Link class="text-blue-600 hover:underline" href="/blog"
          >View all posts</Link
        >
      </div>
    </section>

    <section>
      <h2 class="mb-4 text-2xl font-bold">Featured Projects</h2>
      <div class="grid gap-6 md:grid-cols-2">
        {
          projects.slice(0, 4).map((project) => (
            <div class="rounded-lg border p-4 shadow-sm">
              <h3 class="mb-2 text-xl font-semibold">{project.title}</h3>
              <p class="mb-4 text-gray-600">{project.description}</p>
              <div class="flex space-x-4">
                <Link
                  class="text-primary flex items-center hover:underline"
                  href={project.github}
                  target="_blank"
                >
                  <Github class="mr-1 h-4 w-4" />
                  GitHub
                </Link>
                <Link
                  class="text-primary flex items-center hover:underline"
                  href={project.url}
                  target="_blank"
                >
                  <ExternalLink class="mr-1 h-4 w-4" />
                  Live Project
                </Link>
              </div>
            </div>
          ))
        }
      </div>
      <div class="mt-6">
        <Link class="text-blue-600 hover:underline" href="/projects"
          >View all projects</Link
        >
      </div>
    </section>
  </div>
</Layout>
