---
import BaseLayout from "~/layouts/BaseLayout.astro";
import { socialLinks } from "~/data/social";
import { metadata } from "~/data/site";
import Title from "~/components/Title.astro";
import Link from "~/components/Link.astro";
---

<BaseLayout description={metadata.description} title={metadata.title}>
  <Title>Junseong Park</Title>
  <p
    class="mb-6 leading-relaxed text-balance sm:text-lg"
    transition:name="page-desc"
  >
    Frontend Developer building and shipping great products while growing in
    tech.
  </p>
  <ul class="flex flex-wrap gap-x-6 gap-y-3">
    {
      socialLinks.map(({ name, url, icon: Icon }) => (
        <li>
          <Link
            class="flex items-center gap-1"
            href={url}
            rel="noopener noreferrer"
            target="_blank"
            title={name}
            underline
          >
            <Icon size={20} />
            <span>{name}</span>
          </Link>
        </li>
      ))
    }
  </ul>
</BaseLayout>
