---
import Layout from "~/layouts/Layout.astro";
import { projects } from "~/data/projects";
import Link from "~/components/Link.astro";
import { Github } from "~/assets/social";
import { ExternalLink } from "lucide-preact";

const meta = {
  title: "Projects",
  description: "Here's my collection of projects that I built.",
};
---

<Layout {...meta}>
  <div>
    <h1 class="mb-6 text-3xl font-bold">My Projects</h1>
    <div class="grid gap-6 md:grid-cols-2">
      {
        projects.map((project) => (
          <div class="rounded-lg border p-6 shadow-sm">
            <h2 class="mb-2 text-2xl font-semibold">{project.title}</h2>
            <p class="mb-4 text-gray-600">{project.description}</p>
            <div class="mb-4">
              <h3 class="mb-2 text-lg font-semibold">Technologies used:</h3>
              <ul class="list-inside list-disc">
                {project.technologies.map((tech) => (
                  <li class="text-gray-600">{tech}</li>
                ))}
              </ul>
            </div>
            <div class="flex space-x-4">
              <Link
                class="text-primary flex items-center hover:underline"
                href={project.github}
                target="_blank"
              >
                <Github class="mr-1 h-4 w-4" />
                GitHub
              </Link>
              <Link
                class="text-primary flex items-center hover:underline"
                href={project.url}
                target="_blank"
              >
                <ExternalLink class="mr-1 h-4 w-4" />
                Live Project
              </Link>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</Layout>
