---
import { getEntry } from "astro:content";
import { ClockIcon, GlobeIcon, SquareAndPenIcon, TagIcon } from "~/assets/ui";
import { format, getDatetime } from "~/utils/date";

const templateEntry = await getEntry("blog", "template");
if (!templateEntry) {
  throw new Error("Blog template entry 'template' not found");
}

type Props = typeof templateEntry.data;

const { category, lang, title, description, tags, date, lastModified } =
  Astro.props;
---

<article class="rounded-xl border border-gray-300 p-4 hover:bg-gray-100">
  <div class="mb-4 flex items-center gap-4">
    <span class="rounded-full bg-gray-200 px-3 py-1 text-sm">
      {category}
    </span>
    <span class="flex items-center gap-1 text-sm">
      <GlobeIcon size={16} />
      {lang === "en" ? "English" : "한국어"}
    </span>
  </div>
  <h2 class="mb-2 text-2xl font-semibold text-balance">
    {title}
  </h2>
  <p class="mb-3 leading-relaxed text-pretty sm:text-lg">{description}</p>
  <div class="mb-2 flex flex-wrap gap-4">
    <time class="flex items-center gap-1 text-sm" datetime={getDatetime(date)}>
      <ClockIcon size={16} />
      {format(date, "en")}
    </time>
    {
      lastModified && (
        <time
          class="flex items-center gap-1 text-sm"
          datetime={getDatetime(lastModified)}
        >
          <SquareAndPenIcon size={16} /> {format(lastModified, "en")}
        </time>
      )
    }
  </div>
  <ul class="flex flex-wrap gap-2">
    {
      tags.map((tag) => (
        <li>
          <span class="flex items-center gap-1.5 rounded-full bg-gray-200 px-3 py-1 text-sm">
            <TagIcon size={16} /> {tag}
          </span>
        </li>
      ))
    }
  </ul>
</article>
